
    <header role="banner" id="jumbotron">
      <h1 class="text-center"><strong>Sylvio Watson<br/><br/>Developpeur web - <span class="ruby">Ruby On Rails</span><br/><br/></strong></h1>      
    </header>
    
    
    

    <section role="main" id="skills">
        <div class="about">
          <h2>Passionnée d'informatique</h2>
          <h3>J'ai décidé de me reconvertir professionnellement</h3>
          <h4>J'ai commencé en autodidacte puis j'ai fait une formation de WebDeveloppeur </h4><br/>
          <p><strong>Mes compétences :</strong></p>
        </div>

       
		<article>
			   <div class="row">
	         <div class="col-xs-3 col-md-3 "><%= link_to image_tag("html.png", alt: "html5 logo") %></div>
	          <div class="col-xs-3 col-md-3 "><%= link_to image_tag("css.png", alt: "css3 logo") %></div>
	          <div class="col-xs-3 col-md-3 "><%= link_to image_tag("js.png", alt: "javascript logo") %></div>
	          <div class="col-xs-3 col-md-3 "><%= link_to image_tag("php.jpg", alt: "php logo") %></div>
	        </div>
	      <div class="row">
	          <div class="col-xs-3 col-md-3 "><%= link_to image_tag("bootstrap.png", alt: "boostrap logo") %></div>
	          <div class="col-xs-3 col-md-3 "><%= link_to image_tag("rails.png", alt: "rails logo") %></div>
	          <div class="col-xs-3 col-md-3 "><%= link_to image_tag("ruby.png", alt: "ruby logo") %></div>
	          <div class="col-xs-3 col-md-3 "><%= link_to image_tag("git.jpg", alt: "git logo" ) %></div>
	        </div>
		</article>
     
	    <div class="image_center" id="Global">
		    <h3 id="portfolio"> Mes realisation :<h3>
		    
		    <p id="gauche"><%= link_to image_tag("Capture1.PNG", alt: "site web" ,:class => "image") %> <br> Realiser avec <a href="https://codepen.io/kingwatsonsylvio/pen/EgRWZZ">freecodecamp</a> </p>
			<p id="droite"><%= link_to image_tag("capture2.png", alt: "git logo" ,:class => "image" ) %> <br> Realiser a la <a href="https://3wa.fr/">3wa academy</a></p>
		</div>

		<div class="image_center" >
			<h3 id="contact">Me contacter</h3>
			<ul>
				<li><a href="https://twitter.com/kingwatsonbis"><i class="fa fa-twitter fa-5x" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-mobile fa-5x" aria-hidden="true"></i><span> 07-82-27-19-90</span></a></li>
				<li><a href="mailto:sylvio.watsondeveloppement@gmail.com?subject=feedback"><i class="fa fa-envelope-o fa-5x" aria-hidden="true"></i></a></li>
			</ul>	
			
			
		</div>
    </section>

  